{% extends "base.html" %} {% block title %}Home{% endblock %}{% block content
%}
<div>
            <H2>Transaction History</H2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{entry.date.strftime("%m-%d-%Y")}}</td>
                            <td>{{entry.type}}</td>
                            <td>{{ entry.category }}</td>
                            <td>{{ entry.amount }}</td>
                            <td><div class="btn btn-outline-danger btn-sm" onClick="deleteIncomeExpense({{ entry.id }})">Delete</div></td>
                        </tr>
                {% endfor %}
        </tbody>
        </table>
</div>
{% endblock %}